@model viadf.Models.BusinessModel
@using viadflib

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.HeaderAdCode = "div-gpt-ad-1498571364610-9";
    ViewBag.FooterAdCode = "div-gpt-ad-1498571364610-8";
}

@section JavaScript {

    <script type="text/javascript" src="@Url.Content("~/Content/search.js?v=2")"></script>

    <script type="text/javascript">
        $(function () {
            var position = new google.maps.LatLng(@Model.Business.Lat,@Model.Business.Lng);
            var myOptions = {
                center: position,
                zoom: 16,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                streetViewControl: false,
                mapTypeControl: false,
            };

            var routemap = new google.maps.Map(document.getElementById("map"), myOptions);
            var routemarker = new google.maps.Marker({
                position: position,
                map: routemap,
                title: '@Model.Business.Name',
            });
        });
    </script>
}

<h1>@Model.Business.Name</h1>
<h2>@Model.Business.Category</h2>
@if (Model.Colonia != null)
{
    <h3>@Model.Colonia.Name (@Model.Colonia.Delegacion.Name)</h3>
}
@if (Model.Business.Web != null)
{
    <p>
        <a href="@(Model.Business.Web.Trim().ToLowerInvariant().StartsWith("http") ? "" : "http://")@Model.Business.Web.Trim().ToLowerInvariant()" rel="nofollow" target="_blank">@Model.Business.Web.Trim().ToLowerInvariant()</a>
    </p>
}

<div class="row">
    <div class="col s12 m12 l6">
        <div id="map" style="height:300px;"></div>
        <br />
        @if (Model.CloseBusinesses.Count > 0) {
            <b>Negocios cercanos</b>
            <p class="subtitle">Cerca de <b>@Model.Business.Name</b> hay los siguientes negocios.</p>
            @Html.Partial("_BusinessList", Model.CloseBusinesses)
            <br />
        }
    </div>
    <div class="col s12 m12 l6">
        <b>Rutas cercanas</b>
        <p class="subtitle">Cerca de <b>@Model.Business.Name</b> hay las siguientes lineas de transporte.</p>
        @Html.Partial("_RouteList", Model.ConnectingRoutes)
    </div>
</div>