@model viadf.Models.BusinessModel
@using viadflib

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.HeaderAdCode = "div-gpt-ad-1498571364610-9";
    ViewBag.FooterAdCode = "div-gpt-ad-1498571364610-8";
}

<h1>@Model.Business.Name</h1>
<h2>@Model.Business.Category</h2>
@if (Model.Colonia != null)
{
    <h3>@Model.Colonia.Name (@Model.Colonia.Delegacion.Name)</h3>
}
@if (Model.Business.Web != null)
{
    <p>
        <a href="@(Model.Business.Web.Trim().ToLowerInvariant().StartsWith("http") ? "" : "http://")@Model.Business.Web.Trim().ToLowerInvariant()" rel="nofollow" target="_blank">@Model.Business.Web.Trim().ToLowerInvariant()</a>
    </p>
}

@Html.Partial("_SmallSearchBox", Model.SmallSearchBoxModel)

<div class="row">
    <div class="col s12 m12 l6">     
        @if (Model.CloseBusinesses.Count > 0) {
            <b>Negocios cercanos</b>
            <p class="subtitle">Cerca de <b>@Model.Business.Name</b> hay los siguientes negocios.</p>
            @Html.Partial("_BusinessList", Model.CloseBusinesses)
            <br />
        }
    </div>
    <div class="col s12 m12 l6">
        <b>Rutas cercanas</b>
        <p class="subtitle">Cerca de <b>@Model.Business.Name</b> hay las siguientes lineas de transporte.</p>
        @Html.Partial("_RouteList", Model.ConnectingRoutes)
    </div>
</div>

@section Modals {
    @Html.Partial("_SearchBoxModal")
}

@section JavaScript {        
    @Html.Partial("_SearchBoxJS", new viadf.Models.SearchBoxJSModel() { ToCoordinates = Model.SmallSearchBoxModel.Coordinates, ToName = Model.SmallSearchBoxModel.Name })
}
