@model viadf.Models.ColoniaRouteListModel

@using viadflib

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.HeaderAdCode = "div-gpt-ad-1498571364610-9";
    ViewBag.FooterAdCode = "div-gpt-ad-1498571364610-8";
}


@if (Model.Colonia.Delegacion.EstadoID == 1)
{
    <a href="/Directorio/Distrito-Federal">Ciudad de México</a>
}
else
{
    <a href="/Directorio/Estado-de-Mexico">Estado de México</a>
}
    > @Html.ActionLink(Utils.Capitalize(Model.Colonia.Delegacion.Name), "Delegacion", new { estadoId = Model.Colonia.Delegacion.EstadoID, name = Utils.Capitalize(Model.Colonia.Delegacion.SeoName) }) > @Utils.Capitalize(Model.Colonia.Name)

    <h1>Transporte público en @Utils.Capitalize(Model.Colonia.Name)</h1>

    <p>En esta lista puedes ver todas las rutas de transporte público que pasan por la colonia @Utils.Capitalize(Model.Colonia.Name) en la delegación @Utils.Capitalize(Model.Colonia.Delegacion.Name).</p>

    @Html.Partial("_RouteList", Model.Routes)
    <br /><br />
    <p>Si conoces una ruta que no está en esa lista, @Html.ActionLink("agregala para mejorar la busqueda de ViaDF", "CrearRuta").</p>