@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.HeaderAdCode = "div-gpt-ad-1498571364610-9";
    ViewBag.FooterAdCode = "div-gpt-ad-1498571364610-8";
}

@model viadf.Models.RouteListModel

@using viadflib

@section JavaScript {
    <script type="text/javascript" src="@Url.Content("~/Content/search.js?v=2")"></script>

    <script type="text/javascript">
        $(function () {
            $("#streetfrom").focus();
        });
    </script>
}

@if (@Model.SelectedType != null)
{
    <h1>Rutas de @Model.SelectedType.Name</h1>
}
else
{
    <h1>Directorio de rutas</h1>
    <p>
        En este directorio encontrarás un listado de todas las rutas del transporte público de la Ciudad de México y del Estado de México. Selecciona un tipo de transporte para ver la lista de las rutas.
    </p>
}

<p>
    @foreach (var item in Model.AllTypes)
    {
        @Html.ActionLink(item.Name, "RouteList", new { type = Utils.Capitalize(item.SeoName) }, new { @class = "button " + (item == Model.SelectedType ? "selected" : "") });
    }

</p>

@Html.Partial("_RouteList", Model.Routes)
