
<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title</title>
    @if (!string.IsNullOrEmpty(@ViewBag.Description))
    {
        <meta name="description" content="@ViewBag.Description" />
    }
    @if (!string.IsNullOrEmpty(@ViewBag.Keywords))
    {
        <meta name="keywords" content="@ViewBag.Keywords" />
    }

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/materialize.min.css")" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="@Url.Content("~/Content/css/style.css?v=3")" type="text/css" rel="stylesheet" media="screen,projection" />

    <meta name="smartbanner:title" content="ViaDF">
    <meta name="smartbanner:author" content="ViaDF">
    <meta name="smartbanner:price" content="GRATUITO">
    <meta name="smartbanner:price-suffix-apple" content=" - En App Store">
    <meta name="smartbanner:price-suffix-google" content=" - En Google Play">
    <meta name="smartbanner:icon-apple" content="http://viadf.mx/content/img/apple-touch-icon-114x114.png">
    <meta name="smartbanner:icon-google" content="http://viadf.mx/content/img/apple-touch-icon-114x114.png">
    <meta name="smartbanner:button" content="ABRIR">
    <meta name="smartbanner:button-url-apple" content="https://itunes.apple.com/mx/app/viadf/id1185840806?mt=8">
    <meta name="smartbanner:button-url-google" content="https://play.google.com/store/apps/details?id=mx.com.viadf.app&hl=es">
    <meta name="smartbanner:enabled-platforms" content="android,ios">
    <meta name="smartbanner:disable-positioning" content="true">

    <link rel="stylesheet" href="/content/css/smartbanner.css">
    <script src="/content/js/smartbanner.min.js"></script>

    @if (ViewBag.HeaderAdCode != null || ViewBag.FooterAdCode != null)
    {
        <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
        <script>
            var googletag = googletag || {};
            googletag.cmd = googletag.cmd || [];
        </script>

        <script>
            googletag.cmd.push(function () {
                googletag.defineSlot('/57265256/via_api_footer', [[970, 250], [300, 250], [336, 280], [300, 50], [300, 100], [728, 90], [300, 600], [468, 60], [970, 90]], 'div-gpt-ad-1498571364610-0').addService(googletag.pubads());
                googletag.defineSlot('/57265256/via_api_header', [[970, 250], [300, 250], [336, 280], [300, 50], [300, 100], [728, 90], [468, 60], [970, 90]], 'div-gpt-ad-1498571364610-1').addService(googletag.pubads());
                googletag.defineSlot('/57265256/via_home_footer', [[970, 250], [300, 250], [336, 280], [300, 50], [300, 100], [728, 90], [300, 600], [468, 60], [970, 90]], 'div-gpt-ad-1498571364610-2').addService(googletag.pubads());
                googletag.defineSlot('/57265256/via_home_header', [[970, 250], [300, 250], [336, 280], [300, 50], [300, 100], [728, 90], [468, 60], [970, 90]], 'div-gpt-ad-1498571364610-3').addService(googletag.pubads());
                googletag.defineSlot('/57265256/via_open_footer', [[970, 250], [300, 250], [336, 280], [300, 50], [300, 100], [728, 90], [300, 600], [468, 60], [970, 90]], 'div-gpt-ad-1498571364610-4').addService(googletag.pubads());
                googletag.defineSlot('/57265256/via_open_header', [[970, 250], [300, 250], [336, 280], [300, 50], [300, 100], [728, 90], [468, 60], [970, 90]], 'div-gpt-ad-1498571364610-5').addService(googletag.pubads());
                googletag.defineSlot('/57265256/via_poligonos_footer', [[970, 250], [300, 250], [336, 280], [300, 50], [300, 100], [728, 90], [300, 600], [468, 60], [970, 90]], 'div-gpt-ad-1498571364610-6').addService(googletag.pubads());
                googletag.defineSlot('/57265256/via_poligonos_header', [[970, 250], [300, 250], [336, 280], [300, 50], [300, 100], [728, 90], [468, 60], [970, 90]], 'div-gpt-ad-1498571364610-7').addService(googletag.pubads());
                googletag.defineSlot('/57265256/via_rutas_footer', [[970, 250], [300, 250], [336, 280], [300, 50], [300, 100], [728, 90], [300, 600], [468, 60], [970, 90]], 'div-gpt-ad-1498571364610-8').addService(googletag.pubads());
                googletag.defineSlot('/57265256/via_rutas_header', [[970, 250], [300, 250], [336, 280], [300, 50], [300, 100], [728, 90], [468, 60], [970, 90]], 'div-gpt-ad-1498571364610-9').addService(googletag.pubads());
                googletag.pubads().collapseEmptyDivs();
                googletag.enableServices();
            });
        </script>
    }

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-2461827238480440",
        enable_page_level_ads: true
      });
    </script>

    @RenderSection("Head", false)
    @Html.Partial("_GoogleAnalytics")
</head>
<body>
    <a href="https://github.com/kalinbas/viadf" style="z-index:1000" class="hide-on-med-and-down" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
    <div class="navbar-fixed">
        <nav class="light-blue lighten-1" style="background-image:url('http://viadf.mx/Content/img/b5.jpg');" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="/" class="brand-logo">ViaDF<i class="material-icons" style="display: inline;top: 4px;position: relative;left: 6px;">&#xE530;</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/Directorio">Lista de rutas</a></li>
                    @*<li><a href="/AgregarRuta">Agregar ruta</a></li>*@
                    <li><a href="/OpenData">Datos abiertos</a></li>
                    <li><a href="/Api">REST API</a></li>
                    <li><a href="/PoligonosTiempoRecorrido">Polígonos</a></li>
                    @if (Request.IsAuthenticated)
                    {
                        <li><a href="/Account/LogOff">Logout</a></li>
                    }
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li style="color: black;"><b>ViaDF</b></li>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/Directorio">Lista de rutas</a></li>
                    @*<li><a href="/AgregarRuta">Agregar ruta</a></li>*@
                    <li><a href="/OpenData">Datos abiertos</a></li>
                    <li><a href="/Api">REST API</a></li>
                    <li><a href="/PoligonosTiempoRecorrido">Polígonos</a></li>
                    @if (Request.IsAuthenticated)
                    {
                        <li><a href="/Account/LogOff">Logout</a></li>
                    }
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </div>

    <div class="main section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="row">
                <div class="col s12">

                    @*<div class="row hide-on-large-only inapp-hide center-align">
                        <a target="_blank" href="https://itunes.apple.com/mx/app/viadf/id1185840806?mt=8">
                            <img style="height:60px" alt="Disponible en el App Store" src="/Content/img/app-store-badge.png" />
                        </a>
                        <a target="_blank" href="https://play.google.com/store/apps/details?id=mx.com.viadf.app">
                            <img style="height:60px" alt="Descargar gratuito en Google Play" src="/Content/img/google-play-badge.png" />
                        </a>
                    </div>*@

                    <style>
                        .headerAd , .footerAd {
                            overflow: hidden;
                        }

                        .headerAd > div, .footerAd > div {
                            margin: 0 auto;
                            display: block !important;
                        }
                    </style>

                    @if (ViewBag.HeaderAdCode != null)
                    {
                        <div id='@ViewBag.HeaderAdCode' class="headerAd">
                            <script>
                                googletag.cmd.push(function () { googletag.display('@ViewBag.HeaderAdCode'); });
                            </script>
                        </div>
                    }
                    @RenderBody()
                    @if (ViewBag.FooterAdCode != null)
                    {
                        <div id='@ViewBag.FooterAdCode' class="footerAd">
                            <script>
                                googletag.cmd.push(function () { googletag.display('@ViewBag.FooterAdCode'); });
                            </script>
                        </div>
                    }
                    @*hide-on-med-and-down*@
                    <div class="row inapp-hide right-align" style="margin-top:20px;">
                        <a target="_blank" href="https://itunes.apple.com/mx/app/viadf/id1185840806?mt=8">
                            <img style="height:60px" alt="Disponible en el App Store" src="/Content/img/app-store-badge.png" />
                        </a>
                        <a target="_blank" href="https://play.google.com/store/apps/details?id=mx.com.viadf.app">
                            <img style="height:60px" alt="Descargar gratuito en Google Play" src="/Content/img/google-play-badge.png" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer orange inapp-hide">
        <div class="container">
            <div class="row">
                <div class="col m9 s12">
                    <h2 class="white-text" style="margin-top: 0;">Acerca de ViaDF</h2>
                    <p class="grey-text text-lighten-4">ViaDF es un proyecto personal que he hecho en mi tiempo libre. Por eso estoy feliz por todo tipo de comentarios, sugerencias y ayuda. Agradezco mucho su interés en ViaDF. Gracias también al proyecto <a style="color:white;" href="http://www.mapatoncd.mx/">Mapatón</a> por su esfuerzo y sus datos.</p>

                </div>
                <div class="col m3 s12 right-align">
                    <h2 class="white-text" style="margin-top: 0;">Contacto</h2>
                    <a class="white-text" href="mailto:info@viadf.mx"><i class="fa fa-envelope-square fa-2x"></i></a>
                    <a class="white-text" href="https://www.facebook.com/viadf" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                    <a class="white-text" href="https://www.twitter.com/viadf" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
                    <a class="white-text" href="https://github.com/kalinbas/viadf"><i class="fa fa-github fa-2x"></i></a>
                    @*<a class="white-text" href="https://www.linkedin.com/in/bastiankaelin" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>*@
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col s12 m12 l8">
                        Hecho con cariño en México y Suiza - @DateTime.Today.Year
                    </div>
                    <div class="col l4 right-align hide-on-med-and-down">
                        <a class="white-text" href="/Condiciones">Condiciones de Uso</a> | <a class="white-text" href="/Privacidad">Privacidad</a>
                    </div>
                </div>
            </div>
    </footer>

    @RenderSection("Modals", false)

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="@Url.Content("~/Content/js/materialize.min.js")"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCejzkAd2b7c_kdwS0SHs4CWn3hNbB1bO4"></script>

    <script src="@Url.Content("~/Content/js/main.js?v=2")"></script>

    @RenderSection("JavaScript", false)
</body>

</html>
